body{
    margin: 20px;
    padding: 0;
    background-color:  #252321;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    color: white;

}

.main{
    position: relative;
    text-align: start;
    
    
}
.main-image{
    width: 150px;
    height: 145px;
    border-radius: 50%;
    margin : 5px;
    align-self:center;
}
.main-text-content{
    font-family:'nunito';
    margin: 0px;
    align-self: center;
    padding: 0px;
}
.text-main{
    margin-bottom: 15px;
    margin-top: 10px;
    font-size: 24px;
    font-weight: bold;
}
.text-skill{
    margin-bottom: 10px;
    margin-top: 5px;
    font-size: 14px;
    padding: 0px;
    font-weight: lighter;
    font-style: normal;
}

.github,
.gmail,
.location{
    position: relative;
    margin: 0px;
    width: 100%;
    margin-top: 5px;
    display: inline-flex;
}

.github-logo,
.gmail-logo,
.location-logo{
    height: 24px;
    width: 24px;
    padding: 0px;
    margin: 0px;
}
.github-name,
.gmail-name,
.location-name{
    font-size: 14px;
    margin-bottom: 0px;
    margin-top: 2px ;
    font-weight: lighter;
    padding: 0px;
}
.github-name{
    cursor: pointer;
}

.resume-button{
    border: 1.5px solid #d45c17;
    color: #d45c17;
    background: none;
    margin-top: 10px;
    margin-left: 0px;
    padding: 10px 30px;
    font-size: "nunito";
    cursor: pointer;
    overflow: hidden;
    border-radius: 6px;
}
.resume-button:hover{
    color: #fff;
    background-color: #d45c17;

}

.dev-page{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #252321;
    color: #fff;
    text-align: center;
}
.dev-name{
    font-family: "nunito";
    font-size: 12px;
    font-weight: lighter;
}

@font-face{
    font-family: "nunito";
    src: url("asset/font/coderfont.ttf");
    
}

